{
	"serverID"  : "127.0.0.1:7014",
	"protocol"  : "tcp",
	"ipAddress" : "127.0.0.1",
	"port"	    : "7014",
	"persistentStorageContainer" : {"file" : "dict3_14.gob"},
	"methods"   : ["lookup", "insert", "insertOrUpdate", "delete", "listKeys", "listIDs", "shutdown"],
	"join" : {"ipAddress" : "127.0.0.1", "port" : "7001"}  
}
